version: "3.8"

services:
    mongo:
        image: mongo:6
        container_name: mongo
        restart: unless-stopped
        ports:
            - "27017:27017"
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGODB_ROOT_USER}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_ROOT_PASSWORD}
        volumes:
            - mongo_data:/data/db

    mongo-express:
        image: mongo-express:1.0.2
        container_name: mongo-express
        restart: unless-stopped
        ports:
            - "8081:8081"
        environment:
            ME_CONFIG_MONGODB_URL: "mongodb://${MONGODB_ROOT_USER}:${MONGODB_ROOT_PASSWORD}@mongo:27017"
            ME_CONFIG_BASICAUTH: "false"

volumes:
    mongo_data:
